*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Không bao giờ commit keystore hoặc thông tin ký ứng dụng
*.keystore
*.jks
keystore.properties
